    <header>

    <ul class="sidebar">
        <li class="sidebar-list">
            <a ng-click="toggleSidebar()" >
                <i class="material-icons">dehaze</i>
            </a>
        </li>
        <li class="sidebar-list">
            <a>
                Dashboard
                <i class="material-icons">widgets</i>
            </a>
        </li>

        <li class="sidebar-list">
            <a ui-sref=".templatelist" ng-click="addanimate()">Templates <span class="material-icons">widgets</span></a>
        </li>
        <li class="sidebar-list">
            <a addwidget>Tables <span class="menu-icon fa fa-table"></span></a>
        </li>
    </ul>
    </header>

    <footer layout="row" layout-align="end center">
        <i class="material-icons">keyboard_arrow_left</i>
    </footer>