<div ui-view=""  id="page-wrapper" ng-class="{'open': toggle}" ng-cloak>
    <sidemenu id="sidebar-wrapper" layout="column" layout-align="space-between none"></sidemenu>
    <div  id="content-wrapper" layout="column">
        <toolbar></toolbar>
        <md-content layout-fill layout="row" class="panesContainer" id="panesContainer" ng-controller="View1Ctrl">
            <div class="widgetsWrapper" id="widgetsWrapper" ng-style="style">
                        <div ui-view="success.templatelist" class="views" ></div>
                        <div ui-view="success.templatelist.templatesdescription" class="views"></div>
                        <div ui-view="success.templatelist.templatesjson" class="views"></div>
                        <div ui-view="success.templatelist.editTemplate" class="views"></div>
                      <div ui-view="success.templatelist.git" class="views"></div>
            </div>
        </md-content>
    </div>
</div>
