<div class='widgetPane widthLarge' ng-class="{'slideInLeft animated': animate, '': !animate}" ng-controller="templates">
    <md-toolbar layout='row' layout-align='space-between center'>
        <h4>Description</h4>
        <div layout='row' layout-align='end center'>
            <md-button>-</md-button>
            <md-button>+</md-button>
            <md-button ng-click="closePane('success')">x</md-button>
        </div>
    </md-toolbar>
    <md-content layout="column">
        Edit Description
    </md-content>
</div>