<div class='widgetPane widthExtraLarge' ng-class="{'slideInLeft animated': animate, '': !animate}">
     <md-toolbar layout='row' layout-align='space-between center'>
          <h4>JSON</h4>
          <div layout='row' layout-align='end center'>
               <md-button>-</md-button>
               <md-button>+</md-button>
               <md-button ng-click="closePane('success.templatelist')">x</md-button>
          </div>
     </md-toolbar>
     <md-content layout="column">
          <md-toolbar layout='row' layout-align='end center'>
              <a ui-sref="success.editTemplate" ng-click="createRepo()">Use This Template</a>
          </md-toolbar>
          <p id="jsonEditor"></p>

     </md-content>
</div>