<div class='widgetPane widthExtraLarge' ng-controller="templates" ng-class="{'slideInLeft animated': animate, '': !animate}">
     <md-toolbar layout='row' layout-align='space-between center'>
          <h4>JSON</h4>
          <div layout='row' layout-align='end center'>
               <md-button>-</md-button>
               <md-button>+</md-button>
               <md-button ng-click="closePane('success.templatelist')">x</md-button>
          </div>
     </md-toolbar>
     <md-content layout="column">
          <md-toolbar layout='row' layout-align='end center'>
              <a ui-sref="success.editTemplate">Use This Template</a>
          </md-toolbar>
          <pre>
[
   {
      "templatesList":[
         {
            "templateItem":{
               "href":"templatesdescription",
               "name":"Template 1"
            },
            "templateItemDescription":"Lorem Loreem Loreeem Ipsum Ipsuum Ipsuuum ..."
         },
         {
            "templateItem":{
               "href":"http://example.com/event1",
               "name":"Template 2"
            },
            "templateItemDescription":"Lorem Loreem Loreeem Ipsum Ipsuum Ipsuuum ..."
         },
         {
            "templateItem":{
               "href":"http://example.com/event1",
               "name":"Template 3"
            },
            "templateItemDescription":"Lorem Loreem Loreeem Ipsum Ipsuum Ipsuuum ..."
         },
         {
            "templateItem":{
               "href":"http://example.com/event1",
               "name":"Template 4"
            },
            "templateItemDescription":"Lorem Loreem Loreeem Ipsum Ipsuum Ipsuuum ..."
         },
         {
            "templateItem":{
               "href":"http://example.com/event1",
               "name":"Template 5"
            },
            "templateItemDescription":"Lorem Loreem Loreeem Ipsum Ipsuum Ipsuuum ..."
         },
         {
            "templateItem":{
               "href":"http://example.com/event1",
               "name":"Template 6"
            },
            "templateItemDescription":"Lorem Loreem Loreeem Ipsum Ipsuum Ipsuuum ..."
         },
         {
            "templateItem":{
               "href":"http://example.com/event1",
               "name":"Template 7"
            },
            "templateItemDescription":"Lorem Loreem Loreeem Ipsum Ipsuum Ipsuuum ..."
         },
         {
            "templateItem":{
               "href":"http://example.com/event1",
               "name":"Template 8"
            },
            "templateItemDescription":"Lorem Loreem Loreeem Ipsum Ipsuum Ipsuuum ..."
         }
      ]
   }
]
          </pre>
     </md-content>
</div>