<div class='widgetPane widthSmall' ng-class="{'slideInLeft animated': animate, '': !animate}" ng-controller="templates">
    <md-toolbar layout='row' layout-align='space-between center'>
        <h4>Commit</h4>
        <div layout='row' layout-align='end center'>
            <md-button>-</md-button>
            <md-button>+</md-button>
            <md-button ng-click="closePane('success')">x</md-button>
        </div>
    </md-toolbar>
    <md-content layout="column">
        <md-toolbar layout="row" layout-align="end center">
            <md-button ng-click="viewRepo()">Repos</md-button>
            <md-button ng-click="createRepo()">New</md-button>
            <md-button ng-click="commitCode()" ng-if="selectedRepo">Committ</md-button>
        </md-toolbar>
        <div class="repos" ng-if="repoListPane&&!createnew&&!commit">
            <md-list>
                <md-list-item ng-repeat="repo in repoList" layout="row">
                    <md-checkbox ng-model="repo.checked" ng-click="updateSelection($index, repoList,repo.name)" value="{{repo.name}}"></md-checkbox>
                    <a>{{repo.name }}</a></md-list-item>
            </md-list>
        </div>
        <div class="repos" ng-if="!repoListPane&&newRepoPane&&!commit">

            <md-input-container  style="margin-top: 50px;">
                <input type="text" ng-model="repoName" placeholder="New Repo Name">

            </md-input-container>
            <md-input-container>

            <input type="text" ng-model="repoDesc" placeholder="Description">
        </md-input-container>
                <md-button ng-click="submitRepo(repoName,repoDesc)">Create Repo</md-button>

        </div>
        <h3 class="repos" ng-if="!repoListPane&&!newRepoPane&&commitPane">
           <p>{{ selectedRepo }}</p>
            <md-input-container style="margin-top: 30px;">

               <input type="text" ng-model="comment" placeholder="Comment">

            </md-input-container>
            <md-input-container style="margin-top: 30px;">

                <input type="text" ng-model="branch" placeholder="New Branch">

            </md-input-container>
            <md-button ng-click="commitRepo(selectedRepo,comment,branch)" ng-disabled="!selectedRepo">Commit</md-button>

        </div>


    </md-content>
</div>