<div class='widgetPane widthSmall' ng-class="{'slideInLeft animated': animate, '': !animate}" ng-controller="templates">
    <md-toolbar layout='row' layout-align='space-between center'>
        <h4>Commit</h4>
        <div layout='row' layout-align='end center'>
            <md-button>-</md-button>
            <md-button>+</md-button>
            <md-button ng-click="closePane('success')">x</md-button>
        </div>
    </md-toolbar>
    <md-content layout="column">
        <md-toolbar layout="row" layout-align="end center">
            <md-button ng-click="viewRepo()">Repos</md-button>
            <md-button ng-click="createRepo()">New</md-button>
            <md-button ng-click="commitCode()">Committ</md-button>
        </md-toolbar>
        <div class="repos" ng-if="repoList&&!createnew&&!commit">
            <md-list>
                <md-list-item ng-repeat="repo in repoList" layout="row">
                    <md-checkbox ng-model="repo.checked" ng-click="updateSelection($index, repoList)" ></md-checkbox>
                    <a>{{repo.name }}</a></md-list-item>
            </md-list>
        </div>
        <div class="repos" ng-if="!repoList&&createnew&&!commit">
            NEW
        </div>
    </md-content>
</div>